Ülesanned/FigurePindala/.vs/FigurePindala/CopilotIndices/17.12.38.29086/CodeChunks.db
Ülesanned/FigurePindala/.vs/FigurePindala/CopilotIndices/17.12.38.29086/CodeChunks.db-shm
Ülesanned/FigurePindala/.vs/FigurePindala/CopilotIndices/17.12.38.29086/CodeChunks.db-wal
Ülesanned/FigurePindala/.vs/FigurePindala/CopilotIndices/17.12.38.29086/SemanticSymbols.db
Ülesanned/FigurePindala/.vs/FigurePindala/CopilotIndices/17.12.38.29086/SemanticSymbols.db-shm
Ülesanned/FigurePindala/.vs/FigurePindala/CopilotIndices/17.12.38.29086/SemanticSymbols.db-wal
Ülesanned/FigurePindala/.vs/FigurePindala/FileContentIndex/7e9931d6-7122-43a7-bf85-86a3131debf4.vsidx
Ülesanned/FigurePindala/.vs/FigurePindala/v17/.suo
Ülesanned/FigurePindala/.vs/FigurePindala/v17/DocumentLayout.json
Ülesanned/FigurePindala/FigurePindala/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Ülesanned/FigurePindala/FigurePindala/obj/Debug/net8.0/FigurePindala.AssemblyInfo.cs
Ülesanned/FigurePindala/FigurePindala/obj/Debug/net8.0/FigurePindala.AssemblyInfoInputs.cache
Ülesanned/FigurePindala/FigurePindala/obj/Debug/net8.0/FigurePindala.assets.cache
Ülesanned/FigurePindala/FigurePindala/obj/Debug/net8.0/FigurePindala.GeneratedMSBuildEditorConfig.editorconfig
Ülesanned/FigurePindala/FigurePindala/obj/Debug/net8.0/FigurePindala.GlobalUsings.g.cs
Ülesanned/FigurePindala/FigurePindala/obj/FigurePindala.csproj.nuget.dgspec.json
Ülesanned/FigurePindala/FigurePindala/obj/FigurePindala.csproj.nuget.g.props
Ülesanned/FigurePindala/FigurePindala/obj/FigurePindala.csproj.nuget.g.targets
Ülesanned/FigurePindala/FigurePindala/obj/project.assets.json
Ülesanned/FigurePindala/FigurePindala/obj/project.nuget.cache
